{% extends 'base.html.twig' %}

{% block body %}
    <div style="margin-bottom:150px;"></div>
    <!-- End Banner Area -->
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-5">
                <div class="sidebar-categories">
                    <div class="head">Browse Categories</div>
                    <ul class="main-categories">
                        {% for category in categories %}
                            <li class="main-nav-list">
                                <a href="{{ path('category', {slug: category.slug}) }}">
                                    {{ category.title }}<span class="number">(53)</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-xl-9 col-lg-8 col-md-7">
                <!-- Start Best Seller -->
                <section class="lattest-product-area pb-40 category-list">
                    <div class="row">
                        <!-- single product -->
                        {% for product in products %}
                            <div class="col-lg-4 col-md-6">
                                <div class="single-product" id="product-{{ product.id }}">
                                    <a href="{{ path('product', {id: product.id }) }}">
                                        <img class="img-fluid" src="{{ product.mainImage }}" alt="">
                                    </a>
                                    <div class="product-details">
                                        <a href="{{ path('product', {id: product.id }) }}">
                                            <h6>{{ product.title }}</h6>
                                        </a>
                                        <div class="price">
                                            <h6>${{ product.price }}</h6>
                                        </div>
                                        <div class="prd-bottom">
                                            <form method="POST">
                                                <input type="hidden" name="product_id" value="{{ product.id }}">
                                                <button type="submit">add to bag</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </section>
                <!-- End Best Seller -->
            </div>
        </div>
    </div>
{% endblock %}
