{% extends 'admin/base_admin.html.twig' %}

{% block body %}
    {% if success %}
        <div style="background:greenyellow; padding:20px;">
            <h1>User {{ user.email }} was successfully updated!</h1>
        </div>
    {% endif %}
    <h1>Form for user update</h1>
    <div class="row">
        <div class="col-lg-6 col-md-10 col-xs-12">
            {{ form_start(editUserForm) }}
            {{ form_row(editUserForm.email) }}
            {{ form_row(editUserForm.password.first) }}
            {{ form_row(editUserForm.password.second) }}
            <button type="submit">Update!</button>
            {{ form_end(editUserForm) }}
        </div>
    </div>
{% endblock %}
