{% extends 'base.html.twig' %}

{% block body %}
    <div class="product_image_area">
        <div class="container">
            <div class="row s_product_inner">
                <div class="col-lg-6">
                    <div class="s_Product_carousel">
                        <div class="single-prd-item">
                            <img class="img-fluid" src="{{asset('uploads/images/') ~ product.mainImage }}" alt="">
                        </div>
                        {% for image in product.images %}
                        <div class="single-prd-item">
                            <img class="img-fluid" src="{{asset('uploads/images/') ~ image.folder }}" alt="">
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <div class="s_product_text">
                        <h3>{{ product.title }}</h3>
                        <h2>{{ product.price }} USD</h2>
                        <ul class="list">
                            <li><a class="active" href="#"><span>Category:</span>{{ product.category.title }}</a></li>
                        </ul>
                        <p>{{ product.description | raw }}</p>
                        <div class="product_count">
                            <label for="qty">Quantity:</label>
                            <input type="text" name="qty" id="sst" maxlength="12" value="1" title="Quantity:" class="input-text qty">
                        </div>
                        <div class="card_area d-flex align-items-center">
                            <form method="POST">
                                <input type="hidden" name="product_id" value="{{ product.id }}">
                                <button type="submit">add to bag</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--================End Single Product Area =================-->

    <!--================Product Description Area =================-->
    <section class="product_description_area">
        <div class="container">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                    {{ product.description | raw }}
                </div>
            </div>
        </div>
    </section>
    <!--================End Product Description Area =================-->
{% endblock %}
