{% extends 'admin/base_admin.html.twig' %}

{% block body %}
    {% if success %}
        <div style="background:greenyellow; padding:20px;">
            <h1>Product was successfully created!</h1>
        </div>
    {% endif %}
<h1>Create a new product.</h1>
    <hr>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            {{ form_start(createProductForm) }}
            {{ form_row(createProductForm.title) }}
            {{ form_row(createProductForm.description) }}
            {{ form_row(createProductForm.price) }}
            {{ form_row(createProductForm.category) }}
            {{ form_row(createProductForm.mainImage) }}
            {{ form_row(createProductForm.images) }}
            <button type="submit">Create product</button>
            {{ form_end(createProductForm) }}
        </div>
    </div>
{% endblock %}